* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

body {
  font-family: 'Langar', cursive;
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80vw;
  margin: auto;
}

h1 {
  margin: 20px;
}

.todos {
  margin: 20px;
}

input {
  padding: 10px;
  outline: none;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 7rem;
  transition: width 1s;
}

input:focus {
  border: 3px solid green;
  width: 12rem;
  transition: width 1s;
}

button {
  padding: 10px;
  outline: none;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  border: 3px solid green;
}

button:focus {
  transform: scale(0.95);
}

ul li:nth-child(odd) {
  color: white;
  background-color: rgb(36, 2, 59);
  padding: 15px;
  width: 10rem;
  cursor: pointer;
  list-style-type: none;
  font-weight: 900;
}

ul li:nth-child(even) {
  color: black;
  background-color: rgb(5, 192, 21);
  padding: 15px;
  width: 100%;
  cursor: pointer;
  list-style-type: none;
  font-weight: 900;
}

ul li:nth-child(odd):hover {
  background-color: rgb(82, 11, 133);
}

ul li:nth-child(even):hover {
  background-color: rgb(61, 223, 82);
}

.guide p {
  text-align: center;
}

.linethrough {
  text-decoration: line-through;
}
